
@media (max-width:768px) {
  
  .wrapper {
  width: 768px;
  margin: 0 auto;
    }
    
  #navbar {
    width:768px;
    margin:0 auto;
  }

  body {
    font-size:100%;
  }
  
  
  p {
    font-size:0.5em;
  }
  
}


@media (max-width:568px) {
  
  .wrapper {
  width: 568px;
  margin: 0 auto;
    }
    
  #navbar {
    width:80%;
    margin:0 auto;
  }

  body {
    font-size:100%;
  }
  
  
  p {
    font-size:0.5em;
  }
  
}




